# Exercise 1

In [1]:
amount = 1000
interest_rate = 0.1

final_amount = 0

Use the base amount and interest rate to calculate the final amount after compound interest over 5 years.

In [2]:
years = 5
for year in range(0,years):
    amount = amount * (1 + interest_rate)
final_amount = amount

In [3]:
print('The final amoutn is ', final_amount)

The final amoutn is  1610.5100000000002

# Exercise 2

Calculate how many years you need to obtain a certain amount (e.g. 2000) by starting with an initial amount (e.g. 1000) for a given interest rate (e.g. 2%)

In [4]:
amount = 1000
target = 2000
interest_rate = 0.02

number_of_years = 0

In [5]:
while amount < target:
    amount = amount * (1 + interest_rate)
    number_of_years += 1

In [6]:
print('The number of years needed is ', number_of_years)

The number of years needed is  36

# Exercise 3

Remove the duplicates from this list:

In [7]:
name_list = ["Johannes", "Jamal", "Jamal", "Johannes", "Galina"]

In [8]:
# Simple algorhitmic solution

def remove_duplicates(list_with_duplicates):
    unique_names = []
    for item in list_with_duplicates:
        if item not in unique_names:
            unique_names.append(item)
    return unique_names

print(remove_duplicates(name_list))

['Johannes', 'Jamal', 'Galina']

In [9]:
# Solution using Python's data structures (the fact that Set can't have repeated values)

def remove_duplicates(list_with_duplicates):
    unique_names = set(list_with_duplicates)
    return list(unique_names)

print(remove_duplicates(name_list))

['Galina', 'Jamal', 'Johannes']

# Exercise 4

Make a list of all the 4th and 6th letters of a word:

In [10]:
words = ["Johannes", "Jamal", "Jamal", "Johannes", "Galina"]
new_list = []

In [11]:
# you could just write a specific function that does what we're asked for.

def only_keep_4th_and_6th_letter_from_words(all_words):
    return [ f"{word[3]}{word[5]}"
           for word in all_words
           if len(word)>=6]

only_keep_4th_and_6th_letter_from_words(words)
# notice words shorter than 6 are ignored

['an', 'an', 'ia']

In [12]:
# we could also explore other ways to solve it

# intermediate, generic answer, for one letter would be

def get_all_nth_letters(all_words, letter_index):
    simplified_words = []
    for word in all_words:
        if letter_index < len(word):
            simplified_words.append( word[letter_index] )
    return simplified_words

# test it
print(get_all_nth_letters(words, 0))
print(get_all_nth_letters(words, 5))
print(get_all_nth_letters(words, 20))

['J', 'J', 'J', 'J', 'G']
['n', 'n', 'a']
[]

In [13]:
# for many letters, generic

def simplify_words_to_letters_at_indexes(all_words, list_of_indexes):
    simplified_words = []
    for word in all_words:
        simplified_word = ""
        for index in list_of_indexes:
            if len(word) -1 < index:
                break
            simplified_word += word[index]
        
        simplified_words.append( simplified_word )
    return simplified_words

simplify_words_to_letters_at_indexes(words, [3,5])

['an', 'a', 'a', 'an', 'ia']

In [14]:
# and then you can call it in your own simpler function

def only_keep_4th_and_6th_letter_from_words(all_words):
    return simplify_words_to_letters_at_indexes(all_words, [3,5])

only_keep_4th_and_6th_letter_from_words(words)

['an', 'a', 'a', 'an', 'ia']

In [16]:
# as you can tell, the generic solution is often much more complicated and longer to write.

# as a rule of thumb it is worth it when you will use a lot of different variations of that solution. 
# (eg. if you will require different letters at different indexes of different words many times in your code)

# Exercise 5

Create a list of temperatures in Fahrenheit from another list measured in Celsius using comprehensions:

In [15]:
celsius = [15, 18, 32, 19]

# Fill in the right comprehension
fahrenheit = [round((9/5)*x+32,0) for x in celsius]

Check the output:

In [16]:
print(fahrenheit)

[59.0, 64.0, 90.0, 66.0]

# Exercise 6

Calculate how many years you need to obtain a certain amount by starting with an initial amount for a given interest rate

In [17]:
amounts = [1000,1200,1300]
target = 2000
interest_rates = [0.02,0.05,0.1]

You can use your previous code from exercise 2 and reuse it in a function:

In [18]:
def calculate_no_of_years(amount, interest_rate):
    number_of_years = 0
    while amount < target:
        amount *= (1 + interest_rate)
        number_of_years += 1
    return number_of_years

In [19]:
for amount in amounts:
    for ir in interest_rates:
        number_of_years = calculate_no_of_years(amount, ir)
        print("{} at {} takes {}".format(str(amount),str(ir),str(number_of_years)))

1000 at 0.02 takes 36
1000 at 0.05 takes 15
1000 at 0.1 takes 8
1200 at 0.02 takes 26
1200 at 0.05 takes 11
1200 at 0.1 takes 6
1300 at 0.02 takes 22
1300 at 0.05 takes 9
1300 at 0.1 takes 5

# Exercise 7

Calculate the number of ECTS taught by every member in the dictionary

In [20]:
courses = {"Johannes" : "Web Analytics", "Jamal" : "DEA", "Maurizio" : "Simulation"}
ects = {"Web Analytics": 15, "DEA": 15, "Simulation":15}

In [21]:
for organizer in courses:
    organizer_ects = ects[courses[organizer]]
    print(f"{organizer} teaches {str(organizer_ects)} ECTS")

Johannes teaches 15 ECTS
Jamal teaches 15 ECTS
Maurizio teaches 15 ECTS

# Exercise 8

Find the most common letter at the third place in a word:

In [22]:
words = ["Johannes", "Jamal", "Jamal", "Adme", "Galina"]

In [23]:
letter_counts = {}
for word in words:
    if word[2] not in letter_counts.keys():
        letter_counts[word[2]] = 0
    letter_counts[word[2]] += 1
print(letter_counts)

{'h': 1, 'm': 3, 'l': 1}